@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Open+Sans&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --ligt-grayish-magenta: hsl(300, 24%, 96%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  color: var(--very-dark-magenta);
  font-weight: 7000;
  font-size: 3.5rem;
  line-height: 3rem;
}

.left p {
  font-weight: 400;
  color: var(--dark-grayish-magenta);
  font-size: 1.3rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stars {
  letter-spacing: 0.5rem;
}

.reviews {
  padding-left: 2rem;
  height: 56px;
  width: 444px;
  background-color: var(--ligt-grayish-magenta);
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 16px;
  position: relative;
  right: 6rem;
}
.guru {
  padding-left: 2rem;
  height: 56px;
  width: 444px;
  background-color: var(--ligt-grayish-magenta);
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 16px;
  position: relative;
  font-weight: 700;
  right: 3rem;
}

.besttech {
  padding-left: 2rem;
  height: 56px;
  width: 444px;
  background-color: var(--ligt-grayish-magenta);
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 16px;
  position: relative;
}

.rated {
  color: var(--very-dark-magenta);
  font-weight: 600;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.colton,
.irene,
.anne {
  background-color: var(--very-dark-magenta);
  height: 233px;
  width: 348px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #ffff;
  padding: 2rem;
}

.irene {
  position: relative;
  top: 1rem;
}

.anne {
  position: relative;
  top: 2.5rem;
}

.head {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-left: 1rem;
}
.info p {
  font-weight: 700;
}

.info span {
  color: var(--soft-pink);
  font-weight: 400;
}

.head img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4rem;
}
